body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 50px;

  @media screen and (max-width: 800) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
